
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,84.5,100..900;1,84.5,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
  }


  body{
    font-family: 'lato', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    color:black ;
  }

  p{
    font-size: 1.4rem;
  }

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .header {
    background-color: #FFFFFF;
    height:50vh;
   max-width: 400px;
   line-height: 2.0;
   padding:80px 10px;
  }

  .header h1{
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 15px;
  }

  .header p {
    line-height: 2.0;
    padding-bottom: 10px;
  }

  .Content{
    background-color: #666666;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center ;
    padding-top: 40px;
  }

  .Card{
    padding: 25px;
    font-size: 20px;
    line-height: 1.6;
    background-color: #FFFFFF;
    height: 400px;
    max-width: 930px;
    margin-top: 30px;
  }
  
  .highlight {
    color: green;
    font-weight: bold;
  }
  
  .Content .Card h2{
    background-color:#FFBF00;
    padding: 15px;
    position: relative;
    right: 40px;
    bottom: 15px;
    color: #333 bold;
    width: 450px;
    height: 80px;
    font-size: 24px;
    font-weight: 800;
    border-bottom: 8px solid #CC9900;
  }

.Content .Card p{
  padding: 15px;
}



