@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.woff2') format('woff2'),
         url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.woff2') format('woff2'),
         url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 1rem;
    margin: 0;
    line-height: 1.6;
    color: #333;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.logo span{
    color: #2962ff;
    margin-right: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

li{
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #333; /* Dark gray text */
    font-weight: 500;
}

nav li a:hover{
    color: #005ae2;
}

.cta-button {
    background-color: #2962ff; /* Blue button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.right-nav :first-child{
padding-right: 50px;
}

.url-span{
    position: relative;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #005ae2;
}

.url-span ::after{
    content: url(media/urlshortener.png);
    position: absolute;
    top: 25%;
    left: 20%;
    width: 173px;
    height: 19px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    text-align: center;
   
    background-image: url(media/aurora.png);
    background-size: cover;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 35px;
    background-color: #007bff; /* Blue button */
    color: white;
    text-decoration: none;
    border-radius: 100px;
    position: relative;
    right: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 50px;
    height: 220px;
    background-color: #F9FBFD;
}

.features .container{
    display: flex;
    flex-direction: row;
    padding: 60px 140px;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.feature {
    text-align: center;
}

.feature h2{
    font-size: 1rem;
    font-weight: 600;
}

.feature h2 span {
    color: #005ae2;
}
.feature p{
    font-size: 0.9rem;
}

.why-choose .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
}

.why-choose-item h2 span{
color: #005ae2;
}

.why-choose {
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}
.why-choose-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 30px;
}



.pricing {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.pricing-plans {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pricing-plan {
    border: 1px solid #ddd;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
    width: 300px;
}

.pricing-plan.featured{
    background-color: #1E3448;
    color: white;
    transform: scale(1.1);
    z-index: 1;
    padding: 50px 60px 30px 30px;
}

.pricing-plan ul{
    list-style-type: disc;
    padding-left: 20px;

}

.pricing-plan li{
    margin-bottom: 10px;
}

.pricing-plan h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.pricing-plan .price{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.pricing-plan .cta-button{
    width: 100%;
    text-align: center;
    background-color: #007bff;
    padding-top: 80px;
}

.price span{
    font-size: 18px;
}

#p-icon{
padding-right: 10px;
}

.trim-url .container .background-svg-left{
             position: relative;
            right: 100%;
            top: 100%;
}

.revolu{
    height: 400px;
    background-color: #1E3448;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.revolu h2{
    font-size: 40px;
}

.revolu a{
    padding: 12px 24px;
    border-radius: 100px;
    width: 120px;
    font-size: 16px;
    background-color:  #005AE2;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: 500;
    text-justify: center;
}

.faqs-section {
    padding: 50px 0;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
}


.faqs-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 500;
}

.faqs-title img{
    padding-right: 15px;
}
.faq {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    cursor: pointer; /* Make it look clickable */
}
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
.faq-answer {
    margin-top: 10px;
    display: none; /* Initially hide the answers */
    padding-left: 20px;
    font-size: 0.9rem;
    color: #666;
}
.faq.active .faq-answer {
    display: block; /* Show answer when FAQ is active */
}
.faq-toggle {
    font-size: 1.5rem;
}
.faq.active .faq-toggle::before {
    content: "-"; /* Change to minus sign when active */
}
.faq-toggle::before {
    content: "+"; /* Plus sign by default */
}

.faq-img-left{
    position: relative;
    top: 150px;
    bottom: 80px;
}


.trim-url{
 background-color: #1E3448;
 height:500px;
 color: #3284FF;
}

.trim-url .container{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #1E3448;
    border-radius: 12px;
    height: 355px;
    width: 476px;
    padding: 50px;
    justify-content: center;
    gap: 50px;
    position: relative;
    top: 25px;
    left: 35px;
    color: #3284FF;
}

.group2 button img{
    display: inline;
    position: relative;
    top: 11px;
    padding-left: 4px;
}

.group2 h2 span{
    color: #3284FF;
}

span{
    font-weight: bold;
}

.group2{
    line-height: 2.5;
}

select, #input2{
    width: 178px;
    height: 48px;
    border-radius: 20px;
    padding: 8px 12px;
    gap: 10px;
    color: #3284FF;
}


#input1{
width: 392px;
height: 48px;
padding: 8px 12px;
color: #3284FF;
margin-bottom: 20px;
}

.form{
    height:127px;
    width: 392px;
    gap: 24px;
}

#input1, #input2, select{
    background-color: #ffffff;
    border: 1px solid #3284FF;
    border-radius: 10px;
    font-size: 12px;
    
}

.trim-url .container button{
   background-color: #005AE2;
   color: #ffffff;
   padding: 14px 24px;
   border-radius: 100px;
   width: 430px;
}

@media (max-width: 900px){
    .pricing-plans{
        flex-direction: column;
        align-items: center;
    }
    .pricing-plan{
        margin: 10px 0;
        width: 90%;
    }
    .pricing-plan.featured{
        transform: scale(1);
    }
}

footer {
    color: #fff;
    padding: 50px 200px;
}



.footer-content {
    background-color: #ffffff;
    color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-gap: 60px;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: 800;
}


.footer-section a {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 24px;
}

.footer-group1{
    gap: 15px;
}

.footer-section a:hover{
    color: #3284FF;
}

.footer-bottom{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: #999;
}

.social-icons{
    display: flex;
}

.social-icons a{
    font-size: 1.2rem;
    margin-right: 10px;
}

@media (max-width: 768px){
    .footer-content{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul{
        flex-direction: column;
        margin-top: 10px;
    }
    nav li{
        margin: 5px 0;
    }
}